#sc-load div{
	height: 30px;
	width: 150px;
	border-radius: 10px;
	background-color: #FF6500;
	text-align: center;
	line-height: 30px;
	margin: 30px 0 20px 0;
	cursor: pointer;
	border: 1px solid #333;
	transition: all .25s;
	box-shadow:
        0px 1px 1px rgba(255,255,255,0.8) inset,
        1px 1px 3px rgba(0,0,0,0.2);
}
#sc-load div:hover{
	background-color: #e65c01;
	color: #fff;
}
.load-area{
	height: 300px;
	width: 600px;
	background-color: #0f0;
}
#select-to-load{
	height: 900px;
	width: 1000px;
	background-color: #ccc;
	position: relative;
	overflow: auto;
}
#select-to-load .sel-box{
	height: 400px;
	width: 98.5%;
	border:1px solid #333;
	/*display: inline-block;*/
	position: relative;
	overflow: auto;
	padding: 0 5px;
}
#select-to-load .sel-box:last-of-type{
	margin-top: 83px;

}
#select-buttons{
	height: 55px;
	width: 220px;
	position: absolute;
	top: 20px; bottom: 0;
	right: 0; left: 0;
	margin: auto;
	cursor: pointer;
	font-size: 16px;	
}
.sel-btn{
	/*width: 40px;*/
	padding: 4.5px 15px;
	height: 20px;
	background-color: #FF6500;
	color: #000;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 5px;
	line-height:20px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #333;
	transition: all .25s;
	box-shadow:
        0px 1px 1px rgba(255,255,255,0.8) inset,
        1px 1px 3px rgba(0,0,0,0.2);
}
.sel-btn:hover{
	background-color: #e65c01;
	box-shadow: 1px 1px 1px #333 inset;
}
#select-to-load .sel-box ul li{
	cursor: pointer;
	color: #555;
}
#select-to-load .sel-box table tr:hover{
	color: #000;
}

#select-to-load .sel-box table tr.act{
	background: #0f0;
	color: #000;
}
.no-go{
	color: #f00;
}
#save-btn{
	/*position: absolute;*/
	/*bottom: 0; top: 105px;*/
	/*height: 25px;*/
	/*line-height: 25px;*/
	/*width: 60px;*/
	/*border-radius: 20px;*/
	/*right: 0; left: 0;*/
	/*margin: auto;*/
	/*text-align: center;*/
	/*background-color: #0d0;*/
	cursor: pointer;
	border: 1px solid #333;
}
#save-btn:hover{
	/*background-color: #0b0;*/
	box-shadow: 1px 1px 1px #333 inset
}
.hidden-data{
	display: none;
}
.admin-tlb thead tr{
	width: 100%;
	background: #FF6500;
}

/*.admin-tlb{*/
	/*width: 100%;*/
	/*background: #f00;*/
	/*border: 1px solid #333;*/
/*}*/
/*
.admin-tlb tbody tr:nth-of-type(even){
	background-color: #999;
}
.admin-tlb tbody tr{
	padding: 1px;
	cursor: pointer;
}
.admin-tlb tbody tr:hover{
	background-color: #FF6500;
}
.admin-tlb tbody tr.act{
	background-color: #0f0;
}*/

.admin-tlb {
	width: 100%;
	cell-space: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: 0;
}
.admin-tlb tbody {
/* Kind of irrelevant unless your .css is alreadt doing something else */
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.admin-tlb thead {
	text-align: left;
}
.admin-tlb thead th {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color: #eee;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 15px;
	border-spacing: 0;
	border-collapse: 0;
}
.admin-tlb td {
	padding: 3px 10px;
	border: none;

}
.admin-tlb tr:nth-child(even) {
	background: #F2F2F2;
}

.admin-tlb thead tr th:first-of-type{
	width: 25%;
}
.admin-tlb thead tr th:nth-of-type(2){
	width: 50%;
}
.admin-tlb thead tr th:nth-of-type(3){
	width: 25%;
}
/*.admin-tlb thead tr th:nth-of-type(4){
	width: 30%;
}*/
.admin-tlb tbody tr td:first-of-type{
	text-align: center;
}
.admin-tlb tbody tr td:nth-of-type(3){
	text-align: center;
}

#select-from img{
	bottom: 0;
	height: 200px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 75px;
	width: 200px;	
	display: none;
}
.search-title{
	background-color: #333 !important;
	color: #fff;
}
.temp-sav{
	background-color: #0ff !important;
}
#status{
	height: 25px;
	content: "";
}
/*.artwork{
	height: 100px;
	width: 100px;
	background-size: cover;
	background-position: center;
}*/