#sc-load #sc-load-btn{
	width: 150px;
	height: 30px;
	margin: 10px 0;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #da7c0c;
	line-height: 30px;
}
.org-btn{
	background: #FF6500;
	background: -webkit-linear-gradient(#f70, #f30) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#f70, #f30) repeat scroll 0 0 rgba(0, 0, 0, 0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f70', endColorstr='#f30');

}
.org-btn:hover{
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#DE6700), to(#cf2a01));
	background: -moz-linear-gradient(top,  #DE6700,  #cf2a01);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE6700', endColorstr='#cf2a01');
}

.load-area{
	height: 300px;
	width: 600px;
	background-color: #0f0;
}
#select-to-load{
	height: 900px;
	width: 1000px;
	background-color: #ccc;
	position: relative;
	overflow: auto;
}
#select-to-load .sel-box{
	height: 400px;
	width: 98.5%;
	border:1px solid #333;
	/*display: inline-block;*/
	position: relative;
	overflow: auto;
	padding: 0 5px;
}
#select-to-load .sel-box:last-of-type{
	margin-top: 83px;

}
#select-buttons{
	height: 55px;
	width: 220px;
	position: absolute;
	top: 20px; bottom: 0;
	right: 0; left: 0;
	margin: auto;
	cursor: pointer;
	font-size: 16px;	
}
.sel-btn{
	/*width: 40px;*/
	padding: 5px 15px;
	height: 20px;
	text-align: center;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;

	transition: all .25s;

	outline: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #da7c0c;
	line-height: 20px;

}
/*.sel-btn:hover{
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#DE6700), to(#cf2a01));
	background: -moz-linear-gradient(top,  #DE6700,  #cf2a01);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE6700', endColorstr='#cf2a01');
}*/
/*#select-to-load .sel-box ul li{
	cursor: pointer;
	color: #555;
}*/
#select-to-load .sel-box table tr:hover{
	color: #000;
}
.row-title:hover{
	color: #fff;
}

#select-to-load .sel-box table tr.act{
	background: #0f0;
	color: #000;
}
.no-go{
	color: #f00;
}
.clear{
	clear: both;
}

#select-from img{
	bottom: 0;
	height: 200px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 75px;
	width: 200px;	
	display: none;
}
.search-title{
	background-color: #333 !important;
	color: #fff;
	/*width: 100%;*/
	padding: 10px;
	clear: both;
}
.temp-sav{
	background-color: #f90 !important;
}
#status{
	height: 25px;
	content: "";
}
input[type="file"]{
	float: left;
}
input[type="input"]{
  background: #ccc;
  border-color: #9f9f9f;
  color: #000;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
  padding: 10px 5px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:active,
input:focus,
input:hover{
  /*background: #5e6163;*/
  border-color: #ff6500;
  outline: none;
}

::-webkit-input-placeholder {
  color: #333;
  line-height: normal;
}
:-moz-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}

.input-group{
	width: 300px;
	float: left;
	position: relative;

}
#sc-search-btn{
	position: absolute;
	top: 7px;
	right: 12px;
	color: #f30;
	cursor: pointer;
}
#sc-search-btn:hover{
	color: #f70;
}
#sc-search-btn span{
	font-size: 30px;
}
.artwork{
	/*background: none repeat scroll 0 0 #0f0;*/
	height: 100px;
	width: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.search-result{
	height: 120px;
	width: 33.3333%;
	background: #aaa;
	float: left;
	position: relative;
	cursor: pointer;
}
.search-result:hover,
.search-result:nth-of-type(odd):hover{
	background: #ddd;
}
.search-result:nth-of-type(odd){
	background: #bbb;
}
.sr-padding{
	padding: 10px;
}
.sr-artwork-container{
	height: 100px;
	width: 35%;

	float: left;
}
.sr-artwork{
	height: 100px;
	width: 100px; 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right: 5px;
	background: #f70;
}
.sr-content{
	float: left;
	width: 65%;
}
.sr-content ul li:first-of-type{
	font-size: 16px;
}
.sr-content ul li:last-of-type{
	font-size: 14px;
}
.sr-add-btn,
.sr-remove-btn{
	position: absolute;
	top: 0;
	right: 0;
	height: 20px;
	width: 20px;
	background: rgba(0,0,0,0.4);
	color: #ccc;
	text-align: center;
	font-size: 18px;
}
.act{
	background: #f70;
}
.act:nth-of-type(odd){
	background: #f70;

}